<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="app.vercel.ayannadaf.repository.BookRepository" id="repository">
    </bean>

    <bean class="app.vercel.ayannadaf.service.BookService">
        <property name="bookRepository" ref="repository" />
    </bean>

</beans>